@import '../../assets/style/variables';

.collapse {
  margin: 0px;
  min-width: 48%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    width: 96%;
    margin: 10px;
  }

  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 17px;
    height: 52px;
    border-radius: 10px;
    background-color: $red-kasa;
    @include kasa-font-family;
    font-size: 18px;
    font-weight: 500;
    color: white;

    @media (max-width: 768px) {
      border-radius: 5px;
      height: 30px;
      font-size: 13px;
    }

    &--arrow {
      height: 15px;

      &:hover {
        animation: arrow-rotation 1000ms 200ms both;
      }
      @media (max-width: 768px) {
        height: 10px;
      }
      &-reverse {
        height: 15px;
        transform: rotate(180deg);
        &:hover {
          animation: arrow-rotation 1000ms 200ms both reverse;
        }
      }
    }
  }

  &__text {
    &--open {
      background-color: $grey-kasa;
      @include kasa-font-family;
      font-size: 18px;
      font-weight: 400;
      color: $red-kasa;
      padding: 17px;
      border-radius: 0px 0px 10px 10px;
      list-style-type: none;
      @media (max-width: 768px) {
        border-radius: 5px;
        font-size: 13px;
      }
    }
    &--closed {
      display: none;
    }
  }
}
